<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer__bg">
    <div class="footer__container container grid">
      <div>
        <h1 class="footer__title">Emran</h1>
        <span class="footer__subtitle">Graphic designer</span>
      </div>

      <ul class="footer__links">
        <li>
          <a href="/" class="footer__link">Home</a>
        </li>
        <li>
          <a href="/#services" class="footer__link">Services</a>
        </li>
        <li>
          <a href="/#portfolio" class="footer__link">Portfolio</a>
        </li>
      </ul>

      <div class="footer__socials">
        <a
          href="https://www.instagram.com/emran.graphix/"
          target="_blank"
          class="footer__social"
          ><i class="uil uil-instagram"></i>
        </a>
        <a
          href="https://twitter.com/emrantawfeek"
          target="_blank"
          class="footer__social"
          ><i class="uil uil-twitter-alt"></i>
        </a>
        <a
          href="https://wa.me/905538349679"
          target="_blank"
          class="footer__social"
          ><i class="uil uil-whatsapp"></i>
        </a>
      </div>
    </div>

    <p class="footer__copy">&#169; Emran Tawfeek 2021. All rights reseved</p>
  </div>
</footer>

<!--==================== SCROLL TOP ====================-->
<a href="#" class="scrollup" id="scroll-up">
  <i class="uil uil-arrow-up scrollup__icon"></i>
</a>

<!--==================== SWIPER JS ====================-->
<script src="/assets/js/swiper-bundle.min.js"></script>

<!--==================== MAIN JS ====================-->
<script src="/assets/js/main.js"></script>
