<!--==================== HEADER ====================-->
<header class="header" id="header">
  <nav class="nav container">
    <a href="/" class="nav__logo">
      <svg
        class="nav__logo-img emran-ar__logo"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 437.1 437.42"
      >
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <rect
              x="108.08"
              y="152.83"
              width="42.21"
              height="42.21"
              rx="21.1"
            />
            <path
              d="M397.78,293.32l14-14c32.8-32.81,34.05-86.24,1.69-119.46a84.44,84.44,0,0,0-142,37L240.57,166a84.2,84.2,0,0,0,40.48-24.63c29.35-32.07,29.29-82-.16-114a84.41,84.41,0,0,0-121.56-2.9c-33.41,33.07-32.57,87.41.67,120.65l193,193,29.85-29.84-59.09-59.09c-16.34-16.34-17.22-43-1.22-59.66a42.21,42.21,0,1,1,60.31,59.06l-14.93,14.92ZM186.54,57.08a42.21,42.21,0,1,1,0,54.66A42.15,42.15,0,0,1,186.54,57.08Z"
            />
            <path
              d="M338.09,353,278.4,412.69a84.39,84.39,0,0,1-119.37,0L144.1,397.77,174,367.93l14.92,14.92a42.21,42.21,0,0,0,59.69,0l59.69-59.69Z"
            />
            <rect
              x="89.54"
              y="287.14"
              width="168.82"
              height="42.21"
              transform="translate(-167.01 213.28) rotate(-45)"
            />
            <path
              d="M168.83,218.71A84.42,84.42,0,0,1,0,218.71H0a84.42,84.42,0,0,1,84.41-84.42l-.83,42.2a41.38,41.38,0,0,0-41.37,41.37h0c0,23.1,18.21,42.56,41.31,43a42.23,42.23,0,0,0,43.11-42.19Z"
            />
          </g>
        </g>
      </svg>
      <!-- Emran -->
    </a>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list grid">
        <li class="nav__item">
          <a href="/#home" class="nav__link active-link">
            <i class="uil uil-estate nav__icon"></i> Home
          </a>
        </li>
        <li class="nav__item">
          <a href="/#about" class="nav__link">
            <i class="uil uil-user nav__icon"></i> About
          </a>
        </li>
        <li class="nav__item">
          <a href="/#portfolio" class="nav__link">
            <i class="uil uil-scenery nav__icon"></i> Portfolio
          </a>
          <div class="dropdown-content">
            <a href="/logoProjects">Logo Design</a>
            <a href="/graphicProjects">Graphic Design</a>
          </div>
        </li>
        <li class="nav__item">
          <a href="/#services" class="nav__link"
            ><i class="uil uil-briefcase-alt nav__icon"></i> Services
          </a>
        </li>
        <li class="nav__item">
          <a href="/contact" class="nav__link">
            <i class="uil uil-message nav__icon"></i> Contact</a
          >
        </li>
      </ul>
      <i class="uil uil-times nav__close" id="nav-close"></i>
    </div>
    <div class="nav__btns">
      <!-- Theme Change button -->
      <i class="uil uil-moon change-theme" id="theme-button"></i>

      <div class="nav__toggle" id="nav-toggle">
        <i class="uil uil-apps"></i>
      </div>
    </div>
  </nav>
</header>
