<!--==================== PORTFOLIO ====================-->
<section class="portfolio section" id="portfolio">
  <h2 class="section__title grow">Portfolio</h2>
  <span class="section__subtitle">Most recent work</span>
  <div class="portfolio__container container swiper-container">
    <div class="swiper-wrapper">
      <!--==================== PORTFOLIOS ====================-->
      {%- for portfolioWidget in collections.portfolioWidget -%}
      <div class="portfolio__content grid swiper-slide">
        <img
          src="{{ portfolioWidget.data.image }}"
          alt=""
          class="portfolio__img"
        />

        <div class="portfolio__data">
          <h3 class="portfolio__title">{{ portfolioWidget.data.title }}</h3>
          <p class="portfolio__description">
            {{ portfolioWidget.data.description }}
          </p>
          <a
            href="/{{ portfolioWidget.data.link }}"
            class="button button--flex button--small portfolio__button"
          >
            See More
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
        </div>
      </div>
      {%- endfor %}
    </div>

    <!-- ADD ARROWS -->
    <div class="swiper-button-next">
      <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
    </div>
    <div class="swiper-button-prev">
      <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
    </div>

    <!-- ADD PAGINATION-->
    <div class="swiper-pagination"></div>
  </div>
</section>
